@import url(reset.css);
  

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
       url('../fonts/Roboto-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Bold.woff2') format('woff2'),
       url('../fonts/Raleway-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --primary-bg-color: #f5f4fa;
  
  --customer-icon-color: #afb1b8;

}

body {
font-family: 'Roboto', Arial, sans-serif;
font-weight: 700;
color: #212121;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
}

.logo__web {
  color: #2196f3;
}

.logo__studio {
  color: #000;
}


.hero {
  background-color: #c4c4c4;
  background-image: linear-gradient( rgba(47, 48, 58, 0.7), rgba(47, 48, 58, 0.7)), url("../img/hero-bg.jpg");
  background-repeat: no-repeat; 
  background-position: center;
  background-size: cover;
  
  margin: 0 auto;
  
  padding: 200px 0;
  text-align: center;
  

}

img {
display: block;
max-width: 100%;
height: auto;
}



a {
text-decoration: none;
color: inherit;
}

.nav a.current {
  color: #2196f3;
}

.contacts a.current {
  color: #2196f3;
}

.container {
 max-width: 1200px;
 width: 100%;
 margin: 0 auto;
 padding: 0 15px;
 
}
 
.header {
border-bottom: 1px solid #ececec;
}

.header__inner {
display: flex;
align-items: center;
justify-content: space-between;
height: 80px;
}

.nav a {
margin-right: 30px;
font-weight: 500;
}
 
.nav a:last-child {
margin-right: 0;
}
 
.contacts a {
margin-left: 30px;
color: #757575;

}
 
.hero h1 {
color: #ffffff;
font-size: 44px;
font-weight: 900;
max-width: 700px;
margin: 0 auto 30px;
line-height: 1.36;
}

.btn {
padding: 15px 32px;
background-color: #2196f3;
color: #ffffff;
border: none;
border-radius: 4px;
font-size: 16px;
cursor: pointer;
}
 
.features {
padding: 94px 0;
}
 
.features .container {
  display: flex;
  justify-content: center;
}

.features__list {
display: flex;
gap: 30px;
justify-content: center;
padding: 0;
margin: 0;
list-style: none;
}



.feature {
  width: 270px;
  flex-shrink: 0;
  
}

.feature-icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.feature h3 {
font-size: 14px;
margin-bottom: 10px;
}

.feature p {
font-size: 14px;
line-height: 1.7;
color: #757575;
}
 
.work {
padding-bottom: 94px;
}
 
.work h2,
.team h2 {
text-align: center;
font-size: 36px;
margin-bottom: 50px;
}


.work__list {
display: flex;
gap: 30px;
}

.work__list img {
  width: 370px;
  
}

 
.team {
background-color: #f5f4fa;
padding: 94px 0;
}


.team__list {
display: flex;
gap: 30px;


}

.team__item img {
  display: block;
  width: 100%;
  height: auto;
}

.team__item {
background-color: #ffffff;
text-align: center;
box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}


.team__item h4 {
margin: 20px 0 10px;
font-size: 16px;
}


.team__item p {
font-size: 14px;
color: #757575;
}


.footer {
background-color: #2f303a;
padding: 60px 0;
color: #ffffff;
}

.footer .logo__studio {
  color: #ffffff;
}


.footer address {
margin-top: 20px;
font-style: normal;
line-height: 1.9;
}


.footer a {
color: rgba(255,255,255,0.6);
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio__item img {
  display: block;
  width: 100%;
  height: auto;
}

.portfolio__item {
  background-color: #fff;
  border: 1px solid #eee;
  list-style: none;
  flex-basis: calc((100% - 60px) / 3);
  flex-grow: 1;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__content {
  padding: 20px 24px;
}

.portfolio__content h3 {
  font-size: 18px;
  margin-bottom: 4px;
}

.portfolio__content p {
  font-size: 14px;
  color: #757575;
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.portfolio__filters {
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style: none;
  margin-bottom: 50px;
  padding: 0;
}
.filter-btn {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--primary-bg-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
 
.filter-btn:hover,
.filter-btn:focus,
.filter-btn .active {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0,0,0,0.1);
  box-shadow: 0px 1px 2px rgba(0,0,0,0.08);
  box-shadow: 0px 2px 2px rgba(0,0,0,0.12);
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
}

.portfolio__item:hover {
box-shadow: 0px 1px 1px rgba(0,0,0,0.12);
box-shadow: 0px 4px 4px rgba(0,0,0,0.06);
box-shadow: 1px 4px 6px rgba(0,0,0,0.16);
}

.portfolio__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33 ,150, 243, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.portfolio__title {
  font-size: clamp(18px, 2.5vw, 28px);
  margin: 4px;
}

.overlay__text {
  color: #ffffff;
  font-size: 18px;
  line-height: 1.56;
  margin: 0;
  width: 100%;
  text-align: center;
}

.portfolio__item:hover  .portfolio__overlay {
  transform: translateY(0);
} 

.header__list {
  display: flex;
  gap: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header__item {
  position: relative;
}

.header-filter {
  background: none;
  border: none;
  font-size: 14px;
  cursor: pointer;
  padding: 0;
}



.dropdown {
  position: absolute;
  top: 100%;

  display: none;
  min-width: 180px;
  background: #fff;
  border: 1px solid #e5e5e5;
  box-shadow: 0 8px 16px rgba(0,0,0,.15);
  list-style: none;
  padding: 10px 0;
  z-index: 100;
}

.dropdown--right {
  top: 0;
  right: 100%;
}

.header__item--dropdown:hover > .dropdown {
  display: block;
}

.dropdown__item {
  position: relative;
}

.dropdown__item:hover > .dropdown {
  display: block;
}

.dropdown li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #212121;
  white-space: nowrap;
}

.dropdown a {
  text-decoration: none;
  color: #000;
  display: block;
}

.dropdown li a:hover {
  background-color: #f5f4fa;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  margin-left: 40px;
}

.contacts {
  display: flex;
  gap: 20px;
}
.header__list {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.filters-menu {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 180px;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  padding: 10px 0;
  list-style: none;
  display: none;
  z-index: 100;
}

.nav__item--filters:hover .filters-menu {
  display: block;
}

.filters-menu li a {
  display: block;
  white-space: nowrap;
  padding: 10px 20px;
  font-size: 14px;
  color: #212121;
}

.filters-menu li a:hover {
  background-color: #f5f4fa;
}

.filters-menu__item--contacts {
  position: relative;
}

.filters-submenu {
  position: absolute;
  top: 0;
  right: 100%;
  left: auto;
  min-width: 220px;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgb(0, 0, 0, 0.25); 
  border: 1px solid #eeeeee;
  border-radius: 4px;
  box-shadow: 0 8px 16px rgba(105, 103, 103, 0.15);
  padding: 10px 0;
  list-style: none;
  display: none;
  z-index: 100;
}

.filters-menu__item--contacts:hover .filters-submenu {
  display: block;
}

.dropdown__item:hover > a {
  color: #2196f3;
}


.filter-btn .active {
  color: #2196f3;
  
  
}




.customers__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.customers {
  padding: 94px 0;
}

.customers__title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 50px;
}

.customers__list {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.customers__item {
  width: 170px;
  height: 92px;
  border: 1px solid var(--customer-icon-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 250ms;
}

.customers__icon {
  width: 106px;
  height: 60px;
  color: var(--customer-icon-color);
  transition: fill 250ms;
}
.customers__icon:hover {
 --customer-icon-color:  var(--accent-color); 
}

.customers__item:hover {
  border-color: #2196f3;
}

.customers__item:hover .customers__icon {
  fill: #2196f3;
}


.team {
  background-color: #f5f4fa;
  padding: 94px 0;
}

.team h2 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 50px;
}

.team__list {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.team__item {
  width: 100%;
  max-width: 320px;
  background-color: #fff;
  text-align: center;
  padding-bottom: 30px;
}

.team__item img {
  width: 100%;
  height: auto;
  display: block;
}

.team__item h4 {
  margin-top: 20px;
  font-size: 16px;
}

.team__item p {
  font-size: 14px;
  color: #757575;
  margin-bottom: 16px;
}

.team .socials {
  display: flex;
  justify-content: center;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
  
}

.team .socials a {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #ffffff;
  color: var(--customer-icon-color);
}

.team .socials svg {
  fill: currentColor;
}

.team .socials a:hover {
  background-color: #2196f3;
  color: #ffffff;
}

.team .socials a:hover svg {
  fill: #fff;
}


.team .socials svg {
  fill: currentColor;
}


.footer .socials a {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.footer .socials a:hover {
  background-color: #2196f3;
}

.footer .socials svg {
  fill: currentColor;
}

.footer {
  background-color: #2f303a;
  padding: 60px 0;
}

.footer__inner {
  display: flex;
  align-items: flex-start;
  gap: 70px;
}
.footer__title {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.footer .socials {
  display: flex;
  gap: 10px;
}

.footer__inner {
  display: flex;
  gap: 70px;
}
.footer__right {
  display: flex;
  flex-direction: column;
  margin-top: 12px; 
}

.footer__title {
  margin-bottom: 16px; 
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #ffffff;
}






/* Кнопка */
.sidebar-toggle {
  position: absolute;
  top: 20px;
  left:10px;
  width: 40px;
  height: 30px;
  z-index: 1001;
  font-size: 36px;
  color: #2196f3;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1001;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  
}

.sidebar-toggle span {
  display: block;
  width: 32px;
  height: 3px;
  background-color: #2196f3;
  border-radius: 2px;
  transition: all 0.3s ease;
}

/* Панель */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  background-color: #d4d4d4;
  padding: 80px 20px;
  border-right: 1px solid #8b8b8b;
  transform: translateX(-140px);
  transition: transform 300ms ease;
  z-index: 1000;
}

.sidebar:hover {
  transform: translateX(0);
}
.page {
  transition: transform 300ms ease;
}
.sidebar:hover .page,
.sidebar:hover +.page {
  transform: translateX(280px);
}


.contact-item {
  position: relative;
}

.contact-preview {
  position: absolute;
  right: 110%;
  top: 50%;
  margin-right: 16px;
  width: 180px;
  transform: translateY(-50%) translateX(10px) scale(0.95);
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms ease, transform 300ms ease;
  z-index: 999;
}

.contact-preview img {
  width:  100%;        /* ← раз. карт. */
  height: auto;
  display: block;
  border-radius: 8px;
}

.contact-item:hover .contact-preview {
  opacity: 1;
  transform: translateY(-50%) translateX(0) scale(1);
}

.sidebar-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-list li {
  font-size: 18px;      /* разм. текста */
  line-height: 1.6;     /* расст. между стр. */
  margin-bottom: 20px;  /* расст. между пункт. */
  font-weight: 500;
  letter-spacing: 0.02em;
}

.icon {
  width: 25px;
  height: 25px;
  fill: #212121;
  margin-right: 15px;
  transition: fill 250ms ease;
  object-fit: contain;
  overflow: visible;
  display: inline-block;
}

.contact-icon-img {
  width: 14px;
  height: auto;
  margin-right: 12px;
  
}

.sidebar-item {
  align-items: center;
  display: flex;
  padding: 10px 20px;
  cursor: pointer;
}




.menu-toggle {
  display: none;
  width: 30px;
  height: 22px;
  flex-direction: column;
  justify-content: space-between;
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 3000;
}

.menu-toggle span {
  height: 3px;
  width: 100%;
  background: #212121;
  border-radius: 2px;
 }

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 80%;
  height: auto;
  min-height: 70vh;
  background: #ffffff;
  padding: 32px 24px;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 40px;

  z-index: 2000;
}

.mobile-menu ul {
  list-style: none;
  padding: 0;
}

.mobile-menu li {
  margin-bottom: 25px;
}

.mobile-menu a {
  font-size: 22px;
  font-weight: 600;
}

.mobile-menu.is-open {
  transform: translateX(0);
}

.mobile-menu .current {
  color: #2196f3;
}


@media (max-width: 768px) {

  .nav,
  .contacts {
    display: none;
  }

  .menu-toggle {
    display: flex;
  }

  .container {
    padding: 0 15px;
  }

  /* HERO */
  .hero {
    padding: 100px 0;
    min-height: auto;
  }

  .hero h1 {
    font-size: 26px;
    max-width: 320px;
  }

  /* FEATURES */
  .features__list {
    flex-direction: column;
    gap: 30px;
  }

  .feature {
    width: 100%;
  }

  /* WORK */
  .work {
    display: none;
  }

  /* TEAM */
  .team__list {
    flex-direction: column;
    align-items: center;
  }

  .team__item {
    width: 100%;
    max-width: 380px;
  }

  /* CUSTOMERS */
  .customers__list {
    flex-wrap: wrap;
  }

  .customers__item {
    width: 45%;
  }
  .customers {
    display: none;
  }

  /* FOOTER */
  .footer__inner {
    flex-direction: column;
    gap: 30px;
    text-align: center;
    align-items: center;
  }

  .footer__right {
    display: none;
  }

  .footer__left {
    text-align: center;
  }

}


  img {
    max-width: 100%;
    height: auto;
  }



@media (max-width: 768px) {

  /* ===== HEADER ===== */
  .nav,
  .contacts {
    display: none;
  }

  .menu-toggle {
    display: flex;
  }

  .container {
    padding: 0 15px;
  }


  /* ===== FILTER BUTTONS ===== */
  .portfolio__filters {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    max-width: 350px;
    justify-content: flex-start;
    margin: -20px auto 40px;
    margin-left: 0;
    margin-right: auto;
  }

  .filter-btn {
    font-size: 16px;
    padding: 6px 14px;
    text-align: center;
  }


  /* ===== CARDS (главное) ===== */
  .portfolio__list {
    flex-direction: column;   
    gap: 20px;
  }

  .portfolio__item {
    flex-basis: 100%;
    width: 100%;
  }

  .portfolio__item img {
    width: 100%;
    height: auto;
    display: block;
  }


  /* ===== FOOTER ===== */
  .footer__inner {
    flex-direction: column;
    gap: 30px;
    text-align: center;
    align-items: center;
  }

  .footer__right {
    display: none;
  }

  .footer__left {
    text-align: center;
  }



  .sidebar-toggle,
  .sidebar {
    display: none !important;
  }

}



